; Trate este token de autenticación como una contraseña. No lo comparta con nadie, ni siquiera con el equipo de soporte técnico de Microsoft. Este token expira como máximo el 21/05/2019.
; token de autenticación inicial
//tfs.grupodetector.com/tfs/DETECTOR/_packaging/DPS_Nuget/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ii1selk1bk5KZ1dyakZsUl84RkRYaDlYR3VXVSJ9.eyJuYW1laWQiOiI4YWJhMjgwZS04NTU3LTQ3MWEtYjkwMC1iZGVlNjdmMTViZGIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNGQzNGU5ZmMtOTFjYS00OTVlLTk5ZjgtMDNhYWMzNWNkNGY2Iiwic2lkIjoiMGNhOWViZDQtYTU0ZC00OTNhLTg2NzctY2EwNTdmZDI3NGQ3IiwiaXNzIjoiMzBjOGZmYmYtYTU0Yy00OWIyLTgxMDEtNTNkYzFkZDdmNmI5IiwiYXVkIjoiMzBjOGZmYmYtYTU0Yy00OWIyLTgxMDEtNTNkYzFkZDdmNmI5IiwibmJmIjoxNTUwNjc4NjQ4LCJleHAiOjE1NTg0NTQ2NDh9.guQ6oo4hFWmyL6hw3BwNDXRUobWJb9WfTrWm84lcfHeqSzNyMVwlPNdq5emHyRws7_boji-uQ8UYplVr682sgNFakxNOX9xi8sSpgMHckeK2KZ1y-4MY7KZRq_tDtoTclz0hgi5hYV8bjaPdWr-j20wOHm_p7S6yxmke1vfNq4OfIDHiMbVonNZfl3yD7dM4jg2GCzewDS6cYeRXeuVUsMG540WgZJVRuBwv-YUl_eIlS8dc_XJw2GyUb826ZFBUZ8tFf9Pjc4O8GYtF7Zv5rEMpHBN-As3e8QI_isGSArKXLPuLh5X86XQDjxS8b02w4AFgv21vRllVkUCc4uHcYQ
//tfs.grupodetector.com/tfs/DETECTOR/_packaging/DPS_Nuget/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ii1selk1bk5KZ1dyakZsUl84RkRYaDlYR3VXVSJ9.eyJuYW1laWQiOiI4YWJhMjgwZS04NTU3LTQ3MWEtYjkwMC1iZGVlNjdmMTViZGIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNGQzNGU5ZmMtOTFjYS00OTVlLTk5ZjgtMDNhYWMzNWNkNGY2Iiwic2lkIjoiMGNhOWViZDQtYTU0ZC00OTNhLTg2NzctY2EwNTdmZDI3NGQ3IiwiaXNzIjoiMzBjOGZmYmYtYTU0Yy00OWIyLTgxMDEtNTNkYzFkZDdmNmI5IiwiYXVkIjoiMzBjOGZmYmYtYTU0Yy00OWIyLTgxMDEtNTNkYzFkZDdmNmI5IiwibmJmIjoxNTUwNjc4NjQ4LCJleHAiOjE1NTg0NTQ2NDh9.guQ6oo4hFWmyL6hw3BwNDXRUobWJb9WfTrWm84lcfHeqSzNyMVwlPNdq5emHyRws7_boji-uQ8UYplVr682sgNFakxNOX9xi8sSpgMHckeK2KZ1y-4MY7KZRq_tDtoTclz0hgi5hYV8bjaPdWr-j20wOHm_p7S6yxmke1vfNq4OfIDHiMbVonNZfl3yD7dM4jg2GCzewDS6cYeRXeuVUsMG540WgZJVRuBwv-YUl_eIlS8dc_XJw2GyUb826ZFBUZ8tFf9Pjc4O8GYtF7Zv5rEMpHBN-As3e8QI_isGSArKXLPuLh5X86XQDjxS8b02w4AFgv21vRllVkUCc4uHcYQ
; token de autenticación final